<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{$ title $}</title>
  {## {& assets "steem_js" &}
  <script src="{$ ASSET_URL $}"></script>
  {& endassets &} ##}
  <script src="https://unpkg.com/vue"></script>
  {& block main_css &}

  {& assets "som_css" &}
  <link rel="stylesheet" type="text/css" href="{$ ASSET_URL $}">
  {& endassets &}


  {& assets "bootstrap_css" &}
  <link rel="stylesheet" type="text/css" href="{$ ASSET_URL $}">
  {& endassets &}

  {& assets "slick_css" &}
  <link rel="stylesheet" type="text/css" href="{$ ASSET_URL $}">
  {& endassets &}

  {& endblock &}
</head>
<body>
{& include "vue/home.vue" &}

<div class="main-navigation">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	  <div class="container">
	    <!-- Brand -->
        <a class="navbar-brand" href="#">Steem Open Mic</a>
	    <!-- Hamburgler -->
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
	    <!-- Actual nav items -->
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="nav-dropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" placeholder="Search" type="text">
        </form>
      </div>

	  </div>
	</nav>
	<!-- end top navigation -->
</div>


<div id="app">
  <home/>
</div>
{& block main_js &}
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

{& assets "jquery" &}
<script src="{$ ASSET_URL $}"></script>
{& endassets &}

{& assets "bootstrap_js" &}
<script src="{$ ASSET_URL $}"></script>
{& endassets &}

{& assets "slick_js" &}
<script src="{$ ASSET_URL $}"></script>
{& endassets &}

{& assets "main_js" &}
<script src="{$ ASSET_URL $}"></script>
{& endassets &}

{& endblock &}
</body>
</html>
