/* Define our theme colors */
:root {
    --color-1-lt: #4f5b62;
    --color-1-md: #263238;
    --color-1-dk: #000a12;

    --color-2-lt: #4f83cc;
    --color-2-md: #01579b;
    --color-2-dk: #002f6c;


    --color-3-lt: #63a4ff;
    --color-3-md: #1976d2;
    --color-3-dk: #004ba0;


    --color-grey-dark: #2c3b41;

}

body {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2 {
  font-weight: normal;
}

h2 {
  margin:0px;
}

h4 {
  font-size: 1.1rem!important;
}
@media (min-width: 576px) {
  h4 {
    font-size: 1.4rem!important;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.som-thumbnail {
    cursor:pointer;
    z-index:998;
    background-color:rgb(0,0,0);
}


.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
	display:block;
	position:relative;
	background-color: #111;
	color: #fff;
	padding: 8px;
	border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	text-decoration:none
}
.video-list-thumbs h2{
	bottom: 0;
	font-size: 14px;
	height: 33px;
	margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
	color:#fff;
	opacity:1;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	left: 12px;
	line-height: 13px;
	padding: 2px 3px 1px;
	position: absolute;
	top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
	background-color:#000;
}
@media (min-width:320px) and (max-width: 480px) {
	.video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
	}
	.video-list-thumbs h2{
		bottom: 0;
		font-size: 12px;
		height: 22px;
		margin: 8px 0 0;
	}
}
